.nav-bar {
  background-color: #202020;
  padding: 20px 0;
}

.nav-bar-content-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar-logo {
  width: 130px;
  outline: none;
}

.menu-options-desktop-container {
  display: flex;
  align-items: center;
  padding-left: 0;
  list-style: none;
}

.home-menu-desktop-option {
  color: #f8fafc;
  font-family: Roboto;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 500;
}

.jobs-menu-desktop-option {
  color: #f8fafc;
  font-family: Roboto;
  margin-left: 15px;
  font-size: 20px;
  font-weight: 500;
}

.nav-link-item {
  text-decoration: none;
  color: #f8fafc;
  outline: none;
}

.logout-button-desktop {
  padding: 8px 0;
  width: 120px;
  background-color: #6366f1;
  color: #f8fafc;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: none;
}

.menu-options-and-logout-icon-container {
  display: none;
}
.logout-button-mobile {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .nav-bar-content-container {
    width: 86%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-bar-logo {
    width: 100px;
    outline: none;
  }

  .menu-options-desktop-container {
    display: none;
  }

  .logout-button-desktop {
    display: none;
  }
  .menu-options-and-logout-icon-container {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
