.job-details-bg-container {
  background-color: #000000;
  min-height: 100vh;
}

.job-details-bottom-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.job-item-details-loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.similar-jobs-heading {
  color: #ffffff;
  font-weight: 500;
  font-family: Roboto;
  font-size: 26px;
  margin-top: 35px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .similar-jobs-heading {
    font-size: 20px;
  }
}

.similar-jobs-list-container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
}

/* failure view */
.job-item-details-failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.job-item-details-failure-image {
  width: 350px;
}

.job-item-details-failure-heading {
  font-family: Roboto;
  color: #f8fafc;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.job-item-details-failure-description {
  font-family: Roboto;
  color: #64748b;
  text-align: center;
}

@media (max-width: 828px) {
  .job-item-details-failure-heading {
    font-size: 26px;
  }

  .job-item-details-failure-description {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .job-item-details-failure-image {
    width: 85%;
    margin-top: 15px;
  }

  .job-item-details-failure-heading {
    font-size: 20px;
  }

  .job-item-details-failure-description {
    font-size: 14px;
  }
}
/*  */
