.login-page-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #202020;
  border-radius: 12px;
}

.form-instruments-container {
  margin: 35px 30px;
  min-height: 295px;
  width: 330px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .form-instruments-container {
    margin: 25px 20px;
    min-height: 295px;
    width: 320px;
  }
}

@media (max-width: 402px) {
  .form-instruments-container {
    margin: 25px 20px;
    min-height: 305px;
    width: 260px;
  }
}

@media (max-width: 330px) {
  .form-instruments-container {
    margin: 25px 20px;
    min-height: 305px;
    width: 220px;
  }
}

.login-form-logo {
  width: 120px;
}

.label-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  color: #f8fafc;
  font-family: Roboto;
  font-size: 13px;
  margin-bottom: 8px;
}

.text-input {
  background-color: transparent;
  border: 1px solid #475569;
  border-radius: 4px;
  padding: 10px 10px 10px 15px;
  outline: none;
  color: #b6c5ff;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
}

@media (max-width: 767px) {
  .text-input {
    font-size: 13px;
  }
}

input::placeholder {
  opacity: 0.6;
  color: #b6c5ff;
}

.login-button {
  width: 100%;
  font-family: Roboto;
  padding-top: 11px;
  padding-bottom: 11px;
  background-color: #6366f1;
  color: #f8fafc;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: none;
}

.error-message {
  font-family: Roboto;
  margin-top: 0;
  color: #ff0b37;
  font-weight: 300;
  font-size: 14px;
  align-self: flex-start;
}
